<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
       function show_load_text() {
           var p = document.getElementById("loading");
           p.style.display = "block";
       }
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <img src="static/img/logo_large.png", width="700" height="100", padding=50px>
        </div>
    </nav>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h4>Band Together is a great way to meet new friends and share music</h4>
                            <br>
                        </div>
                        <form action="/" id='form' method ="POST">
                            <input type="text" id="pn" name="playlist_id">
                            <input type="submit" onclick="show_load_text()">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <p id="loading" style="display:none" >Please wait whilst we find you a room</p>
</body>
</html>