<!DOCTYPE html>
<html lang="en">

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <title>Band Together</title>
  
      <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  
      <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css" />
  
      <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
  </head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <img src="static/img/logo_large.png", width="700" height="100", padding=50px>
    </div>
  </nav>

  <div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                  <div class="form-header">
                    <h4>Band Together is a greaet way to meet new friends with a similar music taste</h4>
                    <br>
                  </div>
                  <form action="" method="post">
                      {% from "_formhelpers.html" import render_field %}
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      {{ render_field(form.playlist) }}
                                  </div>
                              </div>
                          </div>
                          <div class="form-btn">
                              {{ form.submit(class_="submit-btn") }}
                          </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
  </div>

</body>

</html>
